<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ONE-DRIVE\OneDrive - Temple University\Desktop\C#Project\DATABASES\CONVERTER_DEEP_DATABASE\Converter\Converter\Database\CurrencyConverter.mdf; Integrated Security=True" providerName="sqlserver"/>
	</connectionStrings>
 <applicationSettings>
  <Converter.Properties.Settings>
   <setting name="IsPasswordEntered" serializeAs="String">
    <value>False</value>
   </setting>
  </Converter.Properties.Settings>
 </applicationSettings>
</configuration>
<!--
In the connection string:

Data Source: It identifies the server name, which could be the IP address, machine domain name or the local machine.

Initial Catalog: It identifies the database name.

Integrated Security: Using the Windows authentication, it specifies Integrated Security=”True” in the connection string and 
database authentication login with server authentication. It specifies Integrated Security=”false” in the connection string.

User Id: Name of the user configured in the SQL server.

Password: Password matching SQL server user id.

-->